/* .body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.bubble-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative; /* Change to relative for positioning within */
  overflow-x: hidden;
}

.bubble-title {
  font-size: 3rem;
  color: #333;
  font-family: "Teko", sans-serif; /* Apply Teko font */
  font-weight: 300; /* Set font weight to 300 */
  position: absolute;
  left: 200px; /* Adjust position as needed */
}

.bubble-description {
  font-size: 1.2rem;
  color: #666;
  margin-left: auto; /* Move to the right */
  max-width: 50%; /* Limit width to avoid excessive stretching */
  margin-right: 200px; /* Adjust margin as needed */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two columns */
  gap: 1rem; /* Add gap between columns */
  left: 400px; /* Adjust position as needed */
  position: relative;
  text-align: justify; /* Center text */
}

.bubble-video-container {
  max-width: 22%; /* Adjust width as needed */
  margin-left: 200px; /* Adjust margin or position */
}

.bubble-vid {
  width: 100%;
  border-radius: 10px; /* Add border radius for rounded corners */
  position: relative;
  left: 400px; /* Adjust position as needed */
}
